body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Changa', sans-serif;
  background-color: #000000;
}

:root {
  --green-1: #135e00;
  --black: #000000;
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
} /* Doesn't work with FireFox yet*/

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

#game-board {
  background-color: #010d1a;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 0px;
  aspect-ratio: 1/1;
  position: relative;
  background: radial-gradient(#020a16, #000409, #000001);
}

/* Game Border 1*/
.game-border-1 {
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #030111;
  aspect-ratio: 1/1;
  position: relative;
}

.game-border-1::before,
.game-border-1::after {
  content: '';
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--green-1),
    var(--black),
    var(--green-1),
    var(--black),
    var(--green-1),
    var(--black),
    var(--green-1),
    var(--black),
    var(--green-1)
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.game-border-1::after {
  filter: blur(3.5rem);
}

/* Game Border 2*/
.game-border-2 {
  border: hsl(145.45deg 88.76% 8.29% / 88%) solid 30px;
  border-radius: 26px;
  box-shadow: ridge 0 0 0 5px hsla(199, 89%, 18%, 0.575);
  aspect-ratio: 1/1;
  position: relative;
}

/* Game Border 3*/
.game-border-3 {
  border: hsl(89.61deg 89.46% 24.88% / 53%) solid 25px;
  border-radius: 100px;
  aspect-ratio: 1/1;
  position: relative;
}

/* Snake & Food */
.snake {
  border: #131c2556 1px double;
  background-color: #05fa44;
}

#snake-logo {
  position: absolute;
  width: 175px;
  filter: drop-shadow(0 0 5px #000103);
}

.food {
  background-color: #ff1300;
  border: #fc9f99 3px solid;
  border-radius: 2.5px;
}

/* TEXT */
#instruction-text {
  position: absolute;
  top: 60%;
  color: #c1e4d1;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #c1e4d1;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: #c1e4d1;
  display: none;
}
